/* Home Page */

body {
    font-family: Verdana;
}

#header {
    text-align: center;
    color: hsl(360, 100%, 60%);
}

.names { 
    text-align: center;
}

.unorganized_list,
.organized_list {
    /* used to eliminate the bullet points in the unorganized list */
    list-style-type: none;
}

    /* color & aesthetic */
button {
    color: white;
    background-color: hsl(360, 100%, 68%);
    border: dotted;
    font-weight: 700;
    box-sizing: border-box;
    margin: 10px;
    padding: 8px;
}

/* individual reciple pages */

h3 {
    text-decoration: underline;
    font-family: Arial;
    color: hsl(360, 100%, 68%);
    border: 5px;
    border-color: black;
}

span {
    color: red;
}